* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#Contenedor{
    display: grid;
    grid-template-areas:
        " header  header"
        "section  aside";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 8vh;
    height: 100vh;
    overflow: hidden;
}

section {
    grid-area: section;
    height: 90vh;
  
}
aside{
    grid-area: aside;
    height: 90vh;
 
}
header {
    grid-area: header;
    background-color: blue;
    height: 15vh;
}

#Contenedor2{

    display: flex;
    justify-content:center;
    align-items:flex-end;
    flex-direction: column;
    height: 90vh;
 
}
#Contenedor3{

    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    height: 90vh;
 
}

#imagen{

    border-radius: 50%;
    width: 50vh;
}

#ajuste{
    display: flex;
    font-size: 1.6rem;
    
}

#estilo {

    font-size: 3rem;
    font-weight:bolder;

}
@media( max-width: 1024px){

    #Contenedor{
        display: grid;
        grid-template-areas:
            " header "
            "aside"
            "section "  ;
        grid-template-columns: 1fr;
        grid-template-rows: 0vh 30vh;
        overflow: hidden;
    }
  
    
    #Contenedor2{
  
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;

     
    }
    #Contenedor3{

        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
   
     
    }
    
    #imagen{
    
        border-radius: 50%;
        width: 40vh;
    }
    
    #ajuste{
        display: flex;
        font-size: 1.4rem;
    }
    
    #estilo {
    
        font-size: 3.1rem;
        font-weight:bolder;
    
    }

}

@media( max-width: 768px){

    #Contenedor{
        background-color: beige;
        display: grid;
        grid-template-areas:
            " header "
            "aside"
            "section "  ;
            grid-template-columns: 1fr; 
            grid-template-rows: 15vh 50vh ; 
        grid-column-gap: 1vh;
        height: 100vh;
    }
    section {
      
        grid-area: section;
        
      
    }
    aside{
        grid-area: aside;
        
     
    }
    header {
        grid-area: header;
        background-color: blue;
        
    }
    
    #Contenedor2{
    
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        height: 0vh;
     
    }
    #Contenedor3{
    
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        height: 50vh;
     
    }
    
    #imagen{
    
        border-radius: 50%;
        width: 30vh;
    }
    
    #ajuste{
        display: flex;
        font-size: 1rem;
        text-align: center;
       
    }
    
    #estilo {
    
        font-size: 1.6rem;
        font-weight:bolder;
    
    }

}
