* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* Animacion breve  falta perfeccionar https://developer.mozilla.org/es/docs/Web/CSS/CSS_animations/Using_CSS_animations */
.animacion {

    animation-duration: 4s;
    animation-name: texto;
    animation-timing-function: ease-in-out;
    /* al chocar con el borde va ajustando */

}

.ilusion {

    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif; 
    color: #000000; 
    padding: 10px; 
    background: linear-gradient(135deg ,#ff416c, #ff4b2b); 
    border-radius: 8px; 
   

}

.ilusion:hover {
    
 box-shadow: 0 10px 25px rgba(250, 0, 0, 0.5);
    cursor: pointer;
}


  .menu {
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  
  /* Estilos para el menú desplegable */
  .menu-desplejable {
    display: none; /* Por defecto, oculto */
    position: absolute;
    width: 100%;
    background: #ffc7c7;
    color: #000000;
    padding: 10px 0;
   
  }
  
  /* Estilos para los elementos dentro del menú desplegable */
  .menu-desplejable li {
    padding: 10px;
    list-style: none;
    text-align: center;
    cursor: pointer;
  }
  
  /* Cambia el color de fondo al hacer hover sobre los elementos del menú */
  .menu-desplejable li:hover {
    background-color: #ff9a9a;
  }

  /* ajustar estilo de a */
  a:link, a:visited, a:active {
    text-decoration:none;
    color: #000000;
} 

  #Lista{
    list-style: none;

  }
  
#Contenedor {

    background: linear-gradient( 135deg, #ff7e5f, #feb47b, #ff6f61, #d8a8d2, #a2c2e6 ); 
    animation: bankefecto 15s ease infinite;
    background-size: 400% 400%; /* Efecto de cambio de colores, toma el back y cada 15seg cambia de color*/
    color: aliceblue;
    display: grid;
    grid-template-areas:
        " header  header"
        "section  aside";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 3vh;
    height: 100vh;
    overflow: hidden;
}

section {
    grid-area: section;
    height: 90vh;

}

aside {
    grid-area: aside;
    height: 90vh;

}

header {

    display: flex;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    height: 15vh;
}

#Contenedorherard {
  
    margin: 5vh;
}


#Contenedor2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;

}

#Contenedor3 {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 90vh;
    margin-right: 3vh;

}

#imagen {

    border-radius: 50%;
    width: 50vh;
    animation-duration: 5s;
    animation-name: imagen;
    margin-top: 10hv;

}

#ajuste { 
    font-size: 1.6rem;
    text-align: center;
}


#estilo {

    font-size: 3rem;
    font-weight: bolder;



   
}
 /* Fotogramas*/
@keyframes texto {
    from {
        margin-left: 300%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* ajuste de como saldra los colores*/
@keyframes bankefecto {
    0% { background-position: 0% 0%; }
  25% { background-position: 100% 0%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
  }

@keyframes imagen {
    from {
        transform: translateX(700%);
        /* Fuera de la pantalla */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* Posición final */
        opacity: 0.3;
    }
}


@media(max-width: 1024px) {

    

    #Contenedor {
        display: grid;
        grid-template-areas:
            " header "
            "aside"
            "section ";
        grid-template-columns: 1fr;
        grid-template-rows: 8vh 30vh;
        grid-column-gap: 0vh;

      
    }


    #Contenedor2 {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2vh;
        height: 65vh;


    }

    #Contenedor3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70vh;

       
    }

    #imagen {

        width: 40vh;
    }

    #ajuste {

        font-size: 1.3rem;

    }

    #estilo {

        font-size: 3.1rem;


    }

    @keyframes texto {
        from {
            margin-left: -300%;

        }

    }
}

@media(max-width: 768px) {

    .menu {
        display: block; 
        position: relative;
        cursor: pointer;
     
      }
      
    .ilusion {

        text-decoration: none;
        font-size: .8rem;
        font-family: 'Arial', sans-serif;
        color: #0e1012; 
    }

    #Contenedor {

        display: grid;
        grid-template-areas:
            " header "
            "aside"
            "section ";
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 50vh;
    
       
    }

  
    #Contenedorherard {

        margin-right: 2.5vh;
    }
    
    #Contenedor2 {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;

    }

    #Contenedor3 {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50vh;
        

    }

    #imagen {

        border-radius: 50%;
        width: 30vh;
    
    }

    #ajuste {

        font-size: 0.99 rem;
    }

    #estilo {

        font-size: 1.3rem;

    }
    #Contenedorherard {
  
        margin: 2vh;
    }
    /* Se ajusto */
    @keyframes texto {
        from {
            margin-left: -400%;
        }
    }
}
